.userList {

.link{
  text-decoration: none;
  color: #0077cc;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #0077cc;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    padding: 3% 3%;
    outline: none;
    font-size: inherit;



    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 1em;
      h3 {
        font-size: 1.5rem;
      }

      div{
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        p{

          text-decoration: none;
          border: none;
        }

      }
    }
  }

}

}